*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    height: 100%;
    padding: 1%;
    background-color: #f9fcfb;
    margin: 5%;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.boxLogo h1{
    font-size: 3rem;
}
h1 {
    font-size: 2.4rem;
    font-weight: bold;
    color: rgba(0,0,0,.5);
    text-align: left;
}

h2{
    font-size: 2.3rem;
    color: rgba(0,0,0,.5);
    
}

h3 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-weight: bold;
}

h4{
    font-size: 1.4rem;
    font-weight: bold;

}

h5{
    font-size: 1.3rem;
}

p {
    font-size: 1.2rem;
}

.p-10px {
    padding: 10px;
}

.iconos{
    width: 35px;
    height: 35px;
    margin: 10% 0% 10% 0%;
}

/* ANIMACIONES */
/* ------------------------------------------------------------------------------------  */

#titleMov {
    display: none;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.titleMov{
    display: block!important;
    padding: 15px;
    font-size: 36px;
    font-weight: 600;
    color: rgba(0,0,0,.5);
    z-index: 999;
    /* transition: all 0.3s ease 0s!important;
    transform: translateX(0);
    animation: animacionScrollTo 0.7s ease-out; */
    opacity: 1!important;
    position:absolute;
    top: 415px;
    left: 450px;
    text-align: right;
}
.titleMov h3{
    font-size: 22px;
}


#preloader_3{
    position:relative;
}
#preloader_4:before{
    width:90px;
    height: 90px;
    border-radius:70px;
    background:#f3f4f5;
    content:'';
    position: absolute;
    top: 439px;
    right: 209px;
    /* animation: preloader_4_before 1.5s infinite ease-in-out; */
}
#preloader_3:before{
    width:100px;
    height: 100px;
    border-radius:70px;
    background:#2ab7f9;
    content:'';
    position:absolute;
    top: 20px;
    right: 240px;
    animation: preloader_3_before 1.5s infinite ease-in-out;
}
 
#preloader_3:after{
    width:20px;
    height:20px;
    top: 90px;
    right: 130px;
    border-radius:70px;
    content:'';
    position:absolute;
    background:#86dfd2;
    animation: preloader_3_after 1.5s infinite ease-in-out;
    z-index: 999;
   
}
 
@keyframes preloader_3_before {
    0% {transform: translateX(0px) rotate(0deg);}
    50% {transform: translateX(50px) scale(1.2) rotate(260deg); background:#208dbf;border-radius:50px;}
      100% {transform: translateX(0px) rotate(0deg)}
}

@keyframes preloader_3_after {
    0% {transform: translateX(0px)}
    50% {transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#208dbf;border-radius:50px;}
    100% {transform: translateX(0px)}
}
/* ------------------------------------------------------------------------------------  */
.row{
    display: flex;
    flex-direction: row;
}

.contenedor {
    padding: 80px;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.current {
    border-bottom: 2px solid #209abf;
}

.boxLogo {
    display: flex;
    justify-content: center;
}

.boxLogo h1>small {
    color: #209abf;
}

#subir {
    display: none;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.irArriba {
    display: block!important;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 2%;
    z-index: 999;
    transition: all 0.3s ease 0s!important;
    transform: translateX(0);
    animation: animacionScrollTo 0.7s ease-out;
    opacity: 1!important;
}

.irArriba:hover {
    background: transparent;
    border: 2px solid #208dbf;
    transition: all 0.3s ease 0s;
    color: #208dbf;
    padding: 15px;
}

.mover{
    transition: 0.4s;
}

@keyframes animacionScrollTo {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
}


/* ESTILOS HEADER */

header {
    width: 100%;
    position: relative;
    padding-top: 25px;
}
.img_celular{
    display: none;
}

.barra_iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000;
    overflow: hidden;
    padding-bottom: 2%;
    padding-top: 2%;
}

 .barra_iconos .icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    opacity: 70%;
    justify-content: center;
}
.barra_iconos .icons img{
    margin-right: 5%;
}
.carousel-inner{
    box-shadow: rgba(0.15, 0, 0, 0.15) 5.95px 5.95px 5.6px;
    width: 1335px;
    height: 350px;
}

.carousel-control-next-icon{
    background-color: rgb(73, 73, 73);
    border-radius: 20px;
    margin: 1%;
}



@keyframes animacion1 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes animacion2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
}


/* ESTILOS NAVBAR ----------*/

.navbar {
    box-shadow: 0 2px 2px -2px #dcdcdc;
    margin:0px;  
    background-color: white !important;
    box-shadow: #000;
}
.navbar-nav{
    box-shadow: #000;
}
.bg-light{
    padding: 0px;
}
.navbar-collapse{
    background-color: white;
    padding: 0px;
}
.nav-item{
    border: 0.3px solid white;
    padding: 1%;
    border-radius: 5px;
    margin-right: 5%;
}
.nav-item a{
    font-size: 1.4rem;
    margin:auto;
    padding-top: 40px;
}
.nav-item .imgLogo{
    width: 300px;
}
.navbar-brand {
    display: none;
}

.navbar-brand small {
    color: #20bf6b;
}

.nav-link:hover {
    border-bottom: 2px solid #208dbf;
}
.point{
 background-color: #208dbf;
 color: white !important;
 border-radius: 5px;
}

.navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 1);
}

.bg-light {
    background-color:  white!important;
}

.nosotros_respon{
    display: none !important;
}
.nosotros_desktop{
    z-index: 999;
    display: block !important;
}
/* ESTILOS FEATURES */

.base{
    padding: 2%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
}

.baseSlider{
    padding: 2%;
    height: 90vh;
}
.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 2;
    overflow: hidden;
    margin-top: 40px;
    
}

.cardEjemplos {
    background: #d2e5eb !important;
    width: 30% !important;
    border-radius: 5px;
    padding: 2.25rem;
    transition: 0.4s;
    margin-bottom: 20px;
}
.cardEjemplos2 {
    background: #c7f4f7 !important;
    width: 30% !important;
    border-radius: 5px;
    padding: 2.25rem;
    transition: 0.4s;
    margin-bottom: 20px;
}
.cardEjemplos3 {
    background: #adc1c7;
    width: 30% !important;
    border-radius: 5px;
    padding: 2.25rem;
    transition: 0.4s;
    margin-bottom: 20px;
}
img.cardEjemplos_img {
    width: 100%;
}
.cardEjemplos:hover {
    cursor: pointer;
    transform: scale(0.9, 0.9);
}

.cardEjemplos p {
    width: 90%;
    margin: 0px;
}
.cardEjemplos button {
    border-style: none;
    background-color: white;
    margin: 15px 5px 0px 15px;
    float: right;
}
.cardEjemplos_perfil {
    background: white !important;
    width: 30% !important;
    border-radius: 10px;
    padding: 1.25rem;
    margin-bottom: 20px;
}

/* ESTILOS card mov*/


.base_max{
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Main heading for card's front cover */
.card-front__heading {
    font-size: 1.5rem;
    margin-top: .25rem;
    text-align: center;
  }
  
  /* Main heading for inside page */
  .inside-page__heading { 
    padding-bottom: 1rem; 
    width: 100%;
  }
  
  /* Mixed */
  
  /* For both inside page's main heading and 'view me' text on card front cover */
  .inside-page__heading,
  .card-front__text-view {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: .2rem;
  }

  
  .inside-page__heading--ski,
  .card-front__text-view--ski { color: #2aaac1; }
  
  .inside-page__heading--beach,
  .card-front__text-view--beach { color: #279eb2; }
  
  .inside-page__heading--camping,
  .card-front__text-view--camping { color: #00b97c; }
  
  /* Front cover */
  
  .card-front__tp { color: #fafbfa; }
  
  /* For pricing text on card front cover */
  .card-front__text-price {
    font-size: 1.2rem;
    margin-top: -.2rem;
  }
  
  /* Back cover */
  
  /* For inside page's body text */
  .inside-page__text {
    color: #333;
    font-weight: 600;
  }
  
  /* Icons ===========================================*/
  
  .card-front__icon {
    fill: #fafbfa;
    font-size: 3vw;
    height: 5.25rem;
    margin-top: -.5rem;
    width: 5.25rem;
  }
  
  /* Buttons =================================================*/
  
  .inside-page__btn {
    background-color: transparent;
    border: 3px solid;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    overflow: hidden;
    padding: .7rem .75rem;
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
    width: 90%;
    z-index: 10;
  }
  
  .inside-page__btn::before { 
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transition: all .3s ease;
    width: 100%;
    z-index: -1;
  }
  
  .inside-page__btn--city { 
    border-color: #ff40a1;
    color: #ff40a1;
  }
  
  .inside-page__btn--city::before { 
    background-color: #ff40a1;
  }
  
  .inside-page__btn--ski { 
    border-color: #279eb2;
    color: #279eb2;
  }
  
  .inside-page__btn--ski::before { 
    background-color: #279eb2;
  }
  
  .inside-page__btn--beach { 
    border-color: #fa7f67;
    color: #fa7f67;
  }
  
  .inside-page__btn--beach::before { 
    background-color: #fa7f67;
  }
  
  .inside-page__btn--camping { 
    border-color: #00b97d;
    color: #00b97d;
  }
  
  .inside-page__btn--camping::before { 
    background-color: #00b97d;
  }
  
  .inside-page__btn:hover { 
    color: #fafbfa;
  }
  
  .inside-page__btn:hover::before { 
    transform: scaleY(1);
  }
    
  
  /* Container to hold all cards in one place */
  .card-area {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-evenly;
    padding: 1rem;
  }
  
  /* Card ============================================*/
  
  /* Area to hold an individual card */
  .card-section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  
  /* A container to hold the flip card and the inside page */
  .card {
    background-color: rgba(0,0,0, .05);
    box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
    height: 15rem;
    position: relative;
    transition: all 1s ease;
    width: 15rem;
  }
  
  /* Flip card - covering both the front and inside front page */
  
  /* An outer container to hold the flip card. This excludes the inside page */
  .flip-card {
    height: 15rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 15rem;
    z-index: 100;
  }
  
  /* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
  /* This is done so content in the inside page can be selected */
  .flip-card > * {
    visibility: visible;
  }
  
  /* An inner container to hold the flip card. This excludes the inside page */
  .flip-card__container {
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 100%;
  }
  
  .card-front,
  .card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  /* Styling for the front side of the flip card */
  
  /* container for the front side */
  .card-front {
    background-color: #fafbfa;
    height: 15rem;
    width: 15rem;
  }
  
  /* Front side's top section */
  .card-front__tp {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding: .75rem;
  }
  
  .card-front__tp--city {
    background: linear-gradient(
      to bottom,
      #ff73b9,
      #ff40a1
    );
  }
  
  .card-front__tp--ski {
    background: linear-gradient(
      to bottom,
      #47acd7,
      #2778b2
    );
  }
  
  .card-front__tp--beach {
    background: linear-gradient(
      to bottom,
      #47c2d7,
      #279eb2
      
    );
  }
  
  .card-front__tp--camping {
    background: linear-gradient(
      to bottom,
      #47c2d7,
      #27b2b2
    );
  }
  
  /* Front card's bottom section */
  .card-front__bt {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  /* Styling for the back side of the flip card */
  
  .card-back {
    background-color: #fafbfa;
    transform: rotateY(180deg);
  }
  
  /* Specifically targeting the <video> element */
  .video__container {
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
    height: auto;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  /* Inside page */
  
  .inside-page {
    background-color: #fafbfa;
    box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
    height: 100%;
    padding: 1rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    width: 15rem;
    z-index: 1;
  }
  
  .inside-page__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center; 
    width: 100%;
  }
  
  /* Functionality ====================================*/
  
  /* This is to keep the card centered (within its container) when opened */
  .card:hover {
    box-shadow:
    -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
    width: 30rem;
  }
  
  /* When the card is hovered, the flip card container will rotate */
  .card:hover .flip-card__container {
    transform: rotateY(-180deg);
  }
  
  /* When the card is hovered, the shadow on the inside page will shrink to the left */
  .card:hover .inside-page {
    box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
  }

  


/* ESTILOS card mov */


/* MEDIA QUERIES */
/* ------------------------------------------------------------------------------------  */


@media screen and (min-width: 300px) and (max-width: 768px) {
    body {
        margin: 0%;
    }
    .toggle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: #000;
    }
    .toggle img{
        width: 200px;
        margin-left: 50%;
    }
    .navbar-nav{
        margin-bottom: 15%;
    }
    .nav-item {
        background-color: white;
        border: 0.3px solid white;
        padding: 1%;
        border-radius: 5px;
    }
    .nav-item .imgLogo{
        width: 200px;
        float: right;
    }
    .img_celular{
        display: block;
        margin-top: 15%;
    }
    .img_celular img{
        width: 100%;
    }
    .features {
        display: block !important;
        width: 100%;
        margin: 2;
        overflow: hidden;
        margin-top: 40px;
    }

    .cardEjemplos {
        width: 100% !important;
        border-radius: 3px;
        padding: 0.75rem;
        transition: 0.4s;
        margin-bottom: 20px;
    }
    .card_min {
        background: white !important;
        width: 20% !important;
        height: 20%;
        border-radius: 3px;
        padding: 0.75rem;
        margin-bottom: 20px;
    }
 

    #carouselExampleControls{
        display: none;
    }
    .base{
        display: block;
    }  
     .barra_iconos .icons{
        height: 50px;
    }
    .cardEjemplos_perfil{
        width: 100% !important;
    }
    .cardEjemplos button {
        float: none;
    }
    .animation_1{
        display:none;
    }
    .baseSlider{
        display: none;
    }
    .nosotros_respon{
        display: block !important;
    }
    .nosotros_desktop{
        display: none !important;
    }

}

